{% extends 'base.html' %} {% block content %}

    <img src="../static/images/CELEBLOGO.png">
    <hr />
    <H1>So What Is <img class="aboutlogo" src="../static/images/CELEBLOGO.png"> about?</H1>
    </br>
    </br>
    <p class="aboutp">The Honest truth is that there is nothing better than making fun of celebrities with huge egoes, or maybe even making fun jokes about our favorite celebrities!</br>Again, any and all pieces of content on this site are a work of fiction and should NOT be taken seriously... seriously please don't sue me.</p>

{% endblock %}    