<!-- {% extends 'base.html' %}

{% block content %}

<h1>Celeb Details</h1>


<div class="card">
    <a href="{% url 'celebs_detail' celeb.id %}">
        <div class="card-content">
            <span class="card-title">A <span class="{{ celeb.description.lower }}-text">{{ toy.color }}</span> {{ celeb.name }}</span>
        </div>
        <div class="card-action">
            <a href="{% url 'celebs_update' celeb.id %}">Edit</a>
            <a href="{% url 'celebss_delete' celeb.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %} -->