{% extends 'base.html' %} {% block content %}

<h1>The Tea is Hot!</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ tea.title}}</span>
        <h5><strong>First Impression...</strong> {{ tea.type }}</h5>
        <p><strong>So What Happened?:</strong> {{ tea.description }}</p>
        {% if tea.witnesses > 7 %}
        <h6>There were <strong>{{ tea.witnesses }}</strong> witnesses!</h6>
        {% else %}
        <h6>Only <strong>{{ tea.witnesses }}</strong> people witnessed this?</h6>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'teas_update' tea.id %}">Edit</a>
        <a href="{% url 'teas_delete' tea.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
      <form action="{% url 'add_sighting' tea.id %}" method="post">
        {% csrf_token %} {{ sighting_form.as_p }}
        <input type="submit" class="btn" value="Add Sighting" />
      </form>
      <table class="striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time Of Day</th>
          </tr>
        </thead>
        <tbody>
          {% for sighting in tea.sighting_set.all %}
          <tr>
            <td>{{sighting.date}}</td>
            <td>{{sighting.get_time_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h5>Celebrities involved in the {{ tea.title }} incident</h5>
    {% if tea.celebs.count %} {% for celeb in tea.celebs.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A(n) {{ celeb.description }} {{celeb.name }}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No celebrities were involved?</h5>
    {% endif %}
  </div>


  <div class="col s6">
    <h3>Other Lister Celebs</h3>
    {% if celebs.count %}
      {% for celeb in celebs.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A(n) {{ celeb.description }} {{ celeb.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_celeb' tea.id celeb.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{tea.name}} Already Has All Possible Celebrities listed</h5>
    {% endif %}
  </div>


  <script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    var selectEl = document.getElementById('id_time');
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}